<footer> 
	<p>		    
		    <a href="https://github.com/lrios002" target="_blank">github</a>
		 // <a href="https://lrios002.github.io/" target="_blank">github.io</a>
		 // <a href="https://www.codecademy.com/profiles/lrios002" target="_blank">codecademy</a>
		 // <a href="https://www.freecodecamp.org/lrios0002" target="_blank">freecodecamp</a>
		 // <a href="https://jsfiddle.net/lrios002/3oz9ncba/4/" target="_blank">JSfiddle</a>
		 // <a href="https://www.linkedin.com/in/laura-rios-1b918a28/" target="_blank">Linkedln</a>
	</p>
		<a href="http://validator.w3.org/check?uri=referer" id = "validation_link_html">
		<img src="images/html_validation_button.gif" width="88" height="31" alt="Validate webpage HTML." >
	</a>

	<a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
		<img src="images/css_validation_button.gif" width="88" height="31" alt="Validate webpage CSS." >
	</a>
<script>
		document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>  
		
	<p>&copy; Laura Rios 2023 </p>
</footer>


